body {
    background-image: url(https://groemitzer.plentymarkets-cloud01.com/images/gallery/general/background.jpeg)  !important;
    background-color: none !important;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Bree Serif", serif;
}
body, body>#vue-app, body>#vue-error {
    background-color: transparent !important;
}
.featured-category, .featured-sale-new, .wrapper-main .navbar {
    font-family: "Bree Serif", serif;
}
.anicon > .anicon-search-item::before {
    height: 2px;
    width: 8px;
    border-radius: 2.86px;
    left: 0;
    background: #000;
}
.anicon > .anicon-search-item::after {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    right: 0;
    background: transparent;
    border: 1px solid #000;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.anicon:hover > .anicon-search-item::before {
    background: #fff;
}
.anicon:hover > .anicon-search-item::after {
    background: rgba(255,255,255,0.3);
    border: 1px solid #fff;
}
#vue-app > .wrapper > * > .container-max {
    box-shadow: 0 0 5px rgba(0,0,0,.7);
}
.homepage-title {
    background: transparent !important;
}
.homepage-title>h1 {
    color: #000 !important;
    border-bottom: 0px solid #fff !important;
    letter-spacing: 0px !important;
}
.top-bar {
    position: relative !important;
    width: 100%;
    z-index: 1060;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.7);
}
.ganzoben {
    position: fixed;
    z-index: 222;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #d2ab7c !important;
}
.wrapper-main .navbar {
    background: #fff !important;
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.5) !important;
    margin-top: 30px;
}
.top-bar .controls-list>li a {
    color: #000;
}
.top-bar .controls-list>li a:hover, .top-bar .controls-list>li a[aria-expanded=true] {
    background-color: #523922 !important;
    color: #fff;
}
.wrapper-main #page-body {
    margin-top: 0px !important;
}
.footer {
    background-color: transparent !important;
}
.copyright > small {
    display: block;
    margin-top: 30px;
}
