body {
    background-color: #fbf0e2 !important;
    font-family: "Bree Serif", serif;
}
body>#vue-app, body>#vue-error {
    background-image: url(https://groemitzer.plentymarkets-cloud01.com/images/gallery/general/background.jpeg)  !important;
    background-color: none !important;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent !important;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.7);
}
a {
    color: inherit;
}
a:focus, a:hover {
    color: #523922;
}
.featured-category, .featured-sale-new, .wrapper-main .navbar {
    font-family: "Bree Serif", serif;
}
.top-bar {
    position: relative !important;
    width: 100%;
    z-index: 1060;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.7);
}
.container-max.ganzoben {
    position: fixed;
    z-index: 222;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: #d2ab7c !important;
}
.wrapper-main .navbar {
    background: #fff !important;
    border-bottom: 0px solid #fff !important;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.5) !important;
    margin-top: 30px;
}
.top-bar .controls-list>li a {
    color: #000;
}
.top-bar .controls-list>li a:hover, .top-bar .controls-list>li a[aria-expanded=true] {
    background-color: #523922 !important;
    color: #fff;
}
.wrapper-main .navbar a {
    color: #000;
}
#mainNavbarCollapsable ul.mainmenu {
    color: #000;
}
#mainNavbarCollapsable ul.mainmenu>li:hover {
    background-color: #523922;
}
#mainNavbarCollapsable ul.mainmenu>li>ul>li:hover {
    background: #523922;
}
#mainNavbarCollapsable ul.mainmenu>li>ul {
    background: #000;
}
.top-bar .controls-list .control-basket .toggle-basket-preview {
    background-color: #000;
}
.anicon > .anicon-search-item::before {
    height: 2px;
    width: 8px;
    border-radius: 2.86px;
    left: 0;
    background: #000;
}
.anicon > .anicon-search-item::after {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    right: 0;
    background: transparent;
    border: 1px solid #000;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.anicon:hover > .anicon-search-item::before {
    background: #fff;
}
.anicon:hover > .anicon-search-item::after {
    background: rgba(255,255,255,0.3) !important;
    border: 1px solid #fff;
}
.mobile-navigation {
    background: #d2ab7c;
    width: 50%;
    min-width: 200px;
    left: auto;
    box-shadow: 0 0 0px #000;
}
.mobile-navigation.open {
    box-shadow: 0 0 8px #000;
}
.container-max {
    max-width: 100%;
}
.homepage-title {
    background: transparent !important;
}
.homepage-title>h1 {
    color: #000 !important;
    font-size: 3.5rem;
    border-bottom: 0px solid #fff !important;
    letter-spacing: 0px !important;
    text-transform: uppercase;
    letter-spacing: 0.03em !important;
    margin: 20px 10%;
    font-weight: 400;
}
.homepage-title>h1>small {
    font-size: 0.7em;
    display: block;
}
.wrapper-main #page-body {
    margin-top: 0px !important;
}
.page-content {
    background-color: transparent;
    padding: 0 10%;
}
.list-controls .list-controls-inner {
    background: transparent;
    padding: 0;
}
.list-controls .list-itemsperpage, .list-controls .list-sort {
    padding: 0;
}
.parallax-img-container .parallax-text-wrapper {
    padding: 0 10%;
}
#twig-rendered-breadcrumbs {
    position: relative;
    top: 0;
    background: transparent;
    padding: 0 10%;
}
.breadcrumb-item.active {
    color: #d2ab7c;
}
.m-b-2, .m-y-2 {
    margin-bottom: 1.5rem!important;
    padding: 0 10%;
}
.basket-preview .totals, .btn-labeled, .small, small {
    font-size: 1.2rem;
    font-weight: 400;
}
.section-header {
    padding: 0;
    border-bottom: 0;
    background: transparent;
    color: #000;
    position: relative;
    font-family: inherit;
}
.section-header h1, .section-header h2, .section-header h3, .section-header h4, .section-header h5, .section-header h6 {
    color: #000;
}
.section-header a.section-link-all {
    color: #000;
}
.vat-porto-info.small.text-muted {
    font-size: 0.6em;
    width: 100%;
    display: block;
}
.featured-sale-new .featured-category-inner {
    background: #d2ab7c;
    flex: 1 1 500px;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-sale-new:hover .featured-category-inner {
    background: #523922;
}
.featured-sale-new .featured-category-headline {
    width: auto;
    min-width: 80%;
    position: relative;
    top: 0;
    -webkit-transform: none;
    transform: none;
    left: 0;
    text-align: left;
    align-self: center;
    -ms-flex-item-align: start;
}
.featured-sale-new {
    display: flex;
    flex-flow: row-reverse;
    align-items: stretch;
    justify-content: stretch;
}
.featured-sale-new .imgbox {
    flex: 1 1 250px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.featured-sale-new>.imgbox img {
    position: relative;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    align-self: center;
    max-width: 10000%;
}
.featured-sale-new .featured-category-inner {
    width: 100%;
    height: 100%;
}
.homepage-text {
    padding: 1rem calc(1.5rem + 10%);
    margin-bottom: 50px;
}
.container-max.page-header > .row #searchBox, .cmp-country-settings, .cmp-currency-select {
    position: relative;
    top: 0px;
}
.footer {
    background-color: transparent !important;
    background-image: url(https://groemitzer.plentymarkets-cloud01.com/images/gallery/general/footerbg.png);
    background-color: none !important;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 10% 0px;
    font-size: 1.2rem;
}
.footer .footer-column h2 {
    font-weight: 400;
    font-size: 1.3rem;
}
.container-max.footer-content {
    padding: 0;
}
.copyright > small {
    display: block;
    margin-top: 30px;
    font-size: 0.9rem;
}
