body {
    background-image: url(https://groemitzer.plentymarkets-cloud01.com/images/gallery/general/background.jpeg)  !important;
    background-color: none !important;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Bree Serif", serif;
}
body, body>#vue-app, body>#vue-error {
    background-color: transparent !important;
}
.homepage-title {
    background: transparent !important;
}
.homepage-title>h1 {
    color: #000 !important;
    border-bottom: 0px solid #fff !important;
    letter-spacing: 0px !important;
}
